* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: 'PT Sans', sans-serif;
  padding: 20px;
  margin-left: 1%;
}

th, td {
  padding: 10px 14px;
}

li {
  padding-bottom: 2px;
}

ul:not(.nobq) li {
  line-height: 1.7em;
}

h1 {
  font-weight: 500;
}

blockquote {
  padding-left: 1.5rem;
}

#wrapper > ol, #wrapper > ul:not(.nobq) {
  margin-left: 40px;
  padding-left: 3rem;
}

blockquote, #wrapper > ol, #wrapper > ul:not(.nobq) {
  border-left: 5px solid #64b5f6;
  font-size: 90%;
}

a {
  text-decoration: none;
  font-weight: 700;
  color: #3399ff;
}

a:hover {
  color: #3366ff;
}

a.active {
  text-decoration: underline;
}

@media screen and (min-width: 675px) {
  #wrapper {
    width: 650px;
    margin: 0 auto;
  }
}

h2 {
  color: #c69214;
  font-weight: 400;
}

#classnum {
  color: #f36170;
  font-size: 1.2em;
  text-transform: lowercase;
  font-weight: 600;
  text-align: right;
}

#classname {
  color: #006a96;
  font-size: 0.6em;
  font-weight: 700;
  text-transform: uppercase;
  margin: -5px auto 10px;
  text-align: right;
}

#classqua {
  font-size: 0.6em;
  text-align: right;
}

#rights {
  color: #6e963b;
  font-weight: 400;
}

.clampright {
  text-align: right;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

tr td:nth-child(1), tr th:nth-child(1) {
  text-align: center;
  width: 10%;
}

tr td:nth-child(2), tr th:nth-child(2) {
  width: 13%;
}

tr td:nth-child(3), tr th:nth-child(3) {
  text-align: left;
  width: 47%;
}

tr td:nth-child(4), tr th:nth-child(4) {
  text-align: right;
  width: 30%;
}

@media screen and (max-width: 674px) {
  th, td {
    padding: 10px 5px;
  }
  tr td:nth-child(2), tr th:nth-child(2) {
    width: 0%;
    padding-left: 14px;
  }
  tr td:nth-child(3), tr th:nth-child(3) {
    width: 40%;
  }
  tr td:nth-child(4), tr th:nth-child(4) {
    width: 50%;
  }
}
