<div class="cover-card table-cell table-middle">
  {% if site.avatar %}
  <img src="{{ site.url }}/img/{{ site.avatar }}" alt="" class="avatar">
  {% endif %}
  <a href="{{ site.url }}/" class="author_name">{{ site.title }}</a>
  <span class="author_job">{{ site.tagline }}</span>
  <span class="author_bio mbm">{{ site.sidebar-desc }}</span>
  <nav class="nav">
    <ul class="nav-list">
      <li class="nav-item">
        <a href="{{ site.url }}/fa18/" {% if page.url == "/fa18/" %}class="active"{% endif %}>home</a>
      {% for node in site.pages %} {% if node.title %}
        <span>/</span>
      </li>
      <li class="nav-item">
        <a href="{{ site.url }}{{ node.url }}" {% if page.title == node.title %}class="active"{% endif %}>{{ node.title }}</a>
      {% endif %} {% endfor %}
        <span>/</span>
      </li>
    </ul>
  </nav>
  {% include social-links.html %}
  <img src="{{ site.url }}/img/bear.png" width="110px" height="90px" id="bear" />
</div>
