---
layout: page
title: Resources
permalink: /resources/
---

<h3><code style="font-size: 1em">Fall 2018</code></h3>
<div class="archive">
  <div class="timeline" id="timeline">
    {% for cat in site.categories %}
      {% capture cat_name %}{{ cat | first }}{% endcapture %}
      <div class="archive-title">
        <!-- TODO remove ID for non-current semester -->
        <h4 class="archive-year" id="{{ cat_name | slugize }}">{{ cat_name }}</h4>
      </div><ul>
      {% for post in site.categories[cat_name] %}
        {% if post.quarter == "fa18" %}
          <li>
            <div style="width:60px; float:left;">{{ post.date | date: "%b %-d" }}</div>
            <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
          </li>
        {% endif %}
      {% endfor %}</ul>
    {% endfor %}
  </div>
</div>
