<h2>What is CSE 152?</h2>

<div>
  CSE 152 is a class about computer vision, i.e. acquiring meaning from images, i.e. teaching computers to <em>see</em>, to perform the visual processing that humans are capable of and more.

  <br /><br />

  We will cover the topics shown in the course roadmap to the right. Excitingly, Prof. Su is updating the course this semester to provide a more comprehensive (including modern) CV foundation, with topics such as normalized cuts, semantic segmentation, and deep learning.
</div>
