<h2><span data-i18n="skills.my_skills">[Random] Genealogy</span></h2>

I don't know if this is the place for it, but I just wanted to recognize some of the most inspirational teachers I've had (and with whom I've had some interaction, even if small), so as to remember them on this teaching page of mine and then try matching even a fraction of their greatness. Apologies if I've missed anyone:

<ul>
  <li>John DeNero</li>
  <li>Josh Hug</li>
  <li>Pieter Abbeel</li>
  <li>James O'Brien</li>
  <li>Ren Ng</li>
  <li>Jonathan Bachrach</li>
  <li>Alyosha Efros</li>
  <li>Christos Papadimitriou</li>
  <li>David Nadler</li>
  <li>Scott Shenker</li>
</ul>

In a similar vein, I TA'd for several semesters at Berkeley and it has come to my attention that some of my former students are now themselves TAs. I give no credit to myself, of course, but regardless it makes me very happy and proud to know that they're teaching now too. So I'd like to recognize them here. With all the students I've had, I'm sure I'm missing people, e.g. the majority of you, whom I've fallen out of touch with. :( If that's you, my apologies:

<ul>
  <li>Yining Liu</li>
  <ul>
    <li>teaching (a) Discrete Math and (b) Efficient Algorithms</li>
  </ul>
  <li>Derek Wan</li>
  <ul>
    <li>teaching (a) Structure and Interpretation of Computer Programs</li>
  </ul>
</ul>
