<h2><span data-i18n="skills.my_skills">Teaching Statement</span></h2>

<div>
  I strive for accessibility, and I believe that the best way to learn is to teach. Therefore, I want to give you guys the opportunity to teach as well.
  
  <br /><br />
  
  For anyone who is physically and mentally capable of teaching anything – which is just about everyone – I think that teaching is a duty. It is the highest, noblest call in a world dominated by people worrying about their salary and work benefits.
</div>
