<h2><span data-i18n="skills.my_skills">Teaching Statement</span></h2>

<div>
  philosophy: where CV is concerned, learning is an active process. You need to be making the connections yourself, filling in the blanks; it will do you no good to have everything just told to you. The point – to _understand_ - is to be able to rederive any of these things yourself, formulate your own conclusions, generate your own thoughts. If you're memorizing, you're doing it wrong. Think! It should be a feedback loop, and you should be contributing.
  
  <br /><br />
  
    I strive for accessibility, and I believe that the best way to learn is to teach. Therefore, I want to give you guys the opportunity to teach as well.
    
  <br /><br />
  
  For this reason I will not create intensely detailed explanations of everything (e.g. in notes, etc.). I want you to be able to fill in the gaps yourself. I will not make/formalize every logical jump for you. You should parse and decipher such logical jumps on your own. Even for myself, when re-reading my notes, I should be reconstructing these conclusions too, to reinforce my own understanding.
</div>
