<h2><span data-i18n="skills.my_skills">Learning Philosophy</span></h2>

<div>
  <p>Where CV is concerned, learning is an active process. You need to be making the connections yourself, filling in the blanks; it will do you no good to have everything just told to you. The point – to <em>understand</em> - is to be able to rederive any of these things yourself, formulate your own conclusions, generate your own thoughts. If you're memorizing, you're doing it wrong. Think! Write out the math on your own! It should be a feedback loop, and you should be contributing.</p>

  <p>I also think that a great way to learn is to teach. Therefore, I want to give you guys <a href="https://owenjow.xyz/cse152/interact#teaching-the-material">the opportunity to teach as well</a>.</p>
  
  <p><em>If you ever really need help, I encourage you to send me an email or come see me in my office hours. Struggling endlessly without direction is even worse than getting everything told to you.</em></p>
</div>
