<!DOCTYPE html>
<html lang="en">

{% include head.html %}
<link href="{{ site.url }}/css/jquery.roadmap.min.css" rel="stylesheet">

<body>
  <div class="row">
    <div class="sidebar col s12 m3">
      <div class="table cover">
        {% include sidebar.html %}
      </div>
    </div>
    <div class="col s12 m9">
      <div class="post-listing">
        {{ content }}
        {% include footer.html %}
      </div>
    </div>
  </div>
  {% include js.html %}
  <script src="{{ site.url }}/js/jquery.roadmap.min.js" type="text/javascript"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      var events = [
        {
          date: 'Low-Level Vision',
          content: '<small>frequency analysis, resizing, filters and edges, classical local features, deep feature learning</small>'
        },
        {
          date: 'Motion',
          content: '<small>tracking/optical flow, correspondence, RANSAC</small>'
        },
        {
          date: '3D Vision',
          content: '<small>stereo, multiview geometry, SfM, shape from X</small>'
        },
        {
          date: 'Image Understanding',
          content: '<small>dimension reduction, grouping, modern CV</small>'
        }
      ];
      $('#course-roadmap').roadmap(events, {
        eventsPerSlide: 4,
        slide: 1,
        orientation: 'vertical'
      });
    });
  </script>
</body>
</html>
